<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%.-5level] %logger: %m%n%ex"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProfile name="default">

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
           <encoder>
               <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>

    </springProfile>

    <springProfile name="public">

    <property name="LOG_FILE" value="login"/>

        <appender name="APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
            <file>${LOG_PATH}/${LOG_FILE}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
            </rollingPolicy>
        </appender>

        <root level="INFO">
            <appender-ref ref="APPENDER"/>
        </root>

    </springProfile>

    <logger name="br.edu.fatecsbc.sigapi" level="INFO" />
    <logger name="javax.activation" level="ERROR" />
    <logger name="org.apache.catalina" level="ERROR" />
    <logger name="org.apache.coyote" level="ERROR" />
    <logger name="org.apache.tomcat" level="ERROR" />
    <logger name="org.hibernate" level="ERROR" />
    <logger name="org.jboss" level="ERROR" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.zeroturnaround" level="ERROR" />
    <logger name="sun.rmi" level="ERROR" />

</configuration>
